/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
div {
  border: solid 1px;
}
.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/tweed.png") repeat;
}
.main {
  width: 100%;
}
.main-app {
  width: 70%;
}
.user-list {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
.user-list h3 {
  margin-top: 0;
}
.user-list .list-group {
  margin-bottom: 0;
}
.user-list .glyphicon.glyphicon-user {
  color: #d9534f;
}
.user-list .glyphicon.glyphicon-user.online {
  color: #5cb85c;
}
.alert-box {
  position: absolute;
  bottom: 0;
  left: 1%;
  z-index: 9999;
}
.login {
  margin-top: 15px;
}
.progress {
  margin: 10%;
}
#ex1Slider .slider-selection {
  background: #BABABA;
}
.playingBlock {
  width: 100px;
  height: 100px;
  /*width: 10%;*/
  /*height: 10%;*/
  position: absolute;
  text-align: center;
  border: solid 1px black;
  vertical-align: middle;
}
.takenPiece {
  width: 5%;
  height: 5%;
}
.takenPieces {
  height: 50px;
  position: relative;
  text-align: center;
  border: solid 1px black;
  vertical-align: middle;
}
.moveRegistery {
  font-size: 12px;
  width: 400px;
  position: relative;
  text-align: center;
  border: solid 1px black;
  vertical-align: middle;
}
.blackBlock {
  background-color: black;
}
.whiteBlock {
  background-color: white;
}
.highlighted {
  /*background-color: green;*/
  border: solid 10px green;
}
.attackBlock {
  /*background-color: red;*/
  border: solid 10px red;
}
.moveBlock {
  /*background-color: blue;*/
  border: solid 10px blue;
}
.checkBlock {
  border: solid 10px yellow;
}
.checkBlock {
  border: solid 10px yellow;
}
.castleBlock {
  border: solid 10px purple;
}
.gamePiece {
  width: 70%;
  height: 70%;
  /*background-color: red;*/
  margin: 15%;
  position: relative;
  cursor: pointer;
}
.bots {
  min-height: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70%;
}
.bot-controls {
  position: absolute;
  top: 0;
  bottom: 5%;
  background-color: blue;
  width: 100%;
}
.play-ground {
  position: absolute;
  top: 5%;
  bottom: 0;
  background-color: brown;
  width: 100%;
}
.gi-2x {
  font-size: 2em;
}
.gi-3x {
  font-size: 3em;
}
.gi-4x {
  font-size: 4em;
}
.gi-5x {
  font-size: 5em;
}
.gift {
  position: absolute;
  background-color: yellow;
}
