<!--templates/spawn-bot-button-->
<div class="bots">
  <div class="bot-controls">
    loading...
  </div>
  <div class="play-ground">
    loading...
      <div id="fpsCounter">0 FPS</div>
  </div>
</div>
