<!--templates/game-buttons-->
<button
  type="button"
  class="btn btn-default btn-sm game-button spawn-bot-button hide">
    spawn bot
</button>
<button
  food="gift"
  type="button"
  class="btn btn-default btn-sm game-button add-food-gift-button hide">
    add gifts
</button>
<button
  type="button"
  class="btn btn-success btn-sm start-game-button">
    start game
</button>
<button
  type="button"
  class="btn btn-danger btn-sm stop-game-button hide">
    stop game
</button>
<span id="fpsCounter" class="badge badge-inverse">0 FPS</span>
