<!--templates/playing-block-->
<div
  colour="{{ backgroundColor }}"
  x="{{ x }}"
  y="{{ y }}"
  title="{{ title }}"
  id="{{ id }}"
  style="color: {{ colour }};"
  class="playingBlock {{ colour }}Block"
></div>
